[global_config]
  title_transmit_fg_color = "#d6dbe5"
  title_transmit_bg_color = "#1f1f1f"
  title_inactive_fg_color = "#d6dbe5"
  title_inactive_bg_color = "#d6dbe5"
  borderless = True
  tab_position = hidden

[profiles]
  [[default]]
    palette = "#1f1f1f:#f81118:#2dc55e:#ecba0f:#2a84d2:#4e5ab7:#1081d6:#d6dbe5:#d6dbe5:#de352e:#1dd361:#f3bd09:#1081d6:#5350b9:#0f7ddb:#ffffff"
    foreground_color = "#d6dbe5"
    background_color = "#131313"
    cursor_color = "#d6dbe5"
    scrollbar_position = disabled
    show_titlebar = False
    use_system_font = False
    font = Hack 9

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
